# CONFIGURACAO MYSQL
SECRET_KEY=chave_secreta
MYSQL_DATABASE=nome_do_banco
MYSQL_USER=usuario
MYSQL_PASSWORD=senha
MYSQL_HOST=host_do_mysql
MYSQL_PORT=3306
# API KEY DO GEMINI
GEMINI_API_KEY=api
FINNHUB_API_KEY=api
MARKETAUX_API_KEY=api